name: CI

on:
  push:
    branches: [ release ]

defaults:
  run:
    working-directory: core-ng-shorten-url

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Set up Java
        uses: actions/setup-java@v1
        with:
          java-version: 15

      - name: Set up permission
        run: chmod +x gradlew

      - name: Build Java
        run: ./gradlew check && ./gradlew -Penv="dev" docker

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.PACKAGES_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: ./core-ng-shorten-url/build/shorten-url-service/docker
          file: ./core-ng-shorten-url/build/shorten-url-service/docker/Dockerfile
          push: true
          tags: hokamc/shorten-url-demo:latest
